<app-menu></app-menu>

<!--<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutWrap>
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
    
        <mat-form-field appearance="fill" class="my-form-field">
          <mat-label>Both a label and a placeholder</mat-label>
          <input matInput placeholder="Simple placeholder">
        </mat-form-field>
      </div>
</div>-->
<router-outlet></router-outlet>
