<div class="container">
  <mat-card>
    <div class="buttom-row">
      <button (click)="setOrder()" class="btn" gdArea="right" mat-flat-button color="warn">Vender</button> 
      <mat-label *ngIf="order.totalCost > 0">Costo total:  $ {{order.totalCost}}</mat-label>
      <button (click)="cancelOrder()" class="btn" gdArea="right" mat-flat-button color="warn">Cancelar</button> 
    </div>
  </mat-card>
  

  <div>
    <app-crud (create)="create()" (read)="read($event)" (update)="update($event)" (delete)="remove($event)"
    [data]="list" [title]="title" [deleteAction]="true" [readAction]="false"></app-crud>
  </div>

  <mat-card>
    <h2>Cliente</h2>
    <form [formGroup]="formClient">
      <div class="input-row">
        
        <mat-form-field class="input">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput placeholder="Ingrese el nombre" formControlName="name">
        </mat-form-field>
    
        <mat-form-field class="input">
          <mat-label>Identificacion</mat-label>
          <input type="text" matInput placeholder="Ingrese la identificacion" formControlName="identification">
        </mat-form-field>
    
        <mat-form-field class="input">
          <mat-label>Numero de telefono</mat-label>
          <input type="number" matInput placeholder="Ingrese un numero de telefono" formControlName="phoneNumber">
        </mat-form-field>
      </div>
     </form>
  </mat-card>
</div>
