<button id="menu" mat-button [matMenuTriggerFor]="menu">
    <mat-icon>drag_indicator</mat-icon>
</button>

<mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="orders">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Crear orden</span>
    </button>
</mat-menu>

<mat-menu #orders="matMenu">
    <button (click)="navigateToFormOrder()" routerLink='/home/order' mat-menu-item>
        <mat-icon>label</mat-icon>
        <span>Venta</span>
    </button>
</mat-menu>

